.plugin {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url('http://demo.gin-vue-admin.com/static/img/login_background.5bc6055a.svg');
  background-size: cover;
}


.plugin-main {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: calc(74vw + 40px);
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(10px);
}
.plugin-main-banner {
  display: inline-block;
  width: calc(74vw );
  height: 260px;
  overflow-y: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}



.plugin-items-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.plugin-items-header-title{
    font-size: 18px;
    font-weight: 700;
}

.plugin-items-content{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.plugin-item{
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
    margin: 8px 30px;
    height: 340px;
    overflow: hidden;
    position: relative;
}
.plugin-item-img{
    width: 250px;
    height: 180px;
    overflow: hidden;
    background-color: #222;
}
.plugin-item:hover,
.plugin-item:hover .plugin-item-img{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.plugin-item-title{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plugin-item-con{
  color: #555;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  height: 40px;
  /* white-space: nowrap; */
}
.plugin-item-fotter{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

.ml-20{
  margin-left: 20px;
}
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 10px;
  padding: 10px;
}

/* .footer{
  display: none;
} */

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.plugin-choose{
  margin: 20px 0;
  /* background-color: #fff; */
}
.flex-center{
  display: flex;
  align-items: center;
}
.flex-space{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.chooseItem{
  width: auto;
  padding: 1px 8px ;
  margin-left: 20px;
  cursor: pointer;
}
.chooseItem.active{
  background-color: var(--ifm-color-primary);
  color: #fff;
}

.plugin-search{
  height: 24px;
  float: right;
}

.gva{
  position: absolute;
  top: 0;
  right: 0;
  background: url('../../../static/img/tags_corner.png') no-repeat 0 0;
  z-index: 999;
    width: 68px;
    height: 68px;
    overflow: hidden;
}
.gva.recommend{
  background-position: 0 -272px;
}
.gva.hot{
  background-position: 0 -68px;
}